version: '3.8'

services:
  app:
    build: .
    container_name: http-server_api
    ports:
      - "8082:8082"
    environment:
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_HOST=postgres
      - POSTGRES_PORT=${POSTGRES_PORT}
      - POSTGRES_NAME=${POSTGRES_NAME}
      - HTTP_SERVER_ADDRESS=0.0.0.0:8082
      # Путь к конфигу ВНУТРИ контейнера
      - CONFIG_PATH=/app/config/local.yaml
    env_file:
      - .env
    depends_on:
      postgres:
        condition: service_healthy
    restart: unless-stopped
    networks:
      - my_network
    volumes:
      - ./config:/app/config
      - ./.env:/app/.env

  postgres:
    image: postgres:latest
    container_name: postgres_api
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_NAME}
      PGDATA: /var/lib/postgresql/data/pgdata
    ports:
      - "${POSTGRES_PORT}:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data/pgdata
    command: >
      postgres -c max_connections=1000
               -c shared_buffers=256MB
               -c default_statistics_target=100
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_NAME}"]
      interval: 5s
      retries: 5
    restart: unless-stopped
    networks:
      - my_network

networks:
  my_network:
    driver: bridge

volumes:
  pgdata:
    driver: local