version: '3.8'

services:
  app:
    build: .
    container_name: http-server_api
    ports:
      - "8082:8082"  
    environment:
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_HOST=postgres  
      - POSTGRES_PORT=${POSTGRES_PORT}
      - POSTGRES_NAME=${POSTGRES_NAME}
      - HTTP_SERVER_ADDRESS=${HTTP_SERVER_ADDRESS}
      - CONFIG_PATH=/Users/brize/GolandProjects/API/config/local.yaml
    env_file:
      - .env  
    depends_on:
      - postgres 
    restart: unless-stopped 
    networks:
      - my_network

  postgres:
    image: postgres:latest
    container_name: postgres_api
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_NAME: ${POSTGRES_NAME}
      PGDATA: /var/lib/postgresql/data/pgdata
    ports:
      - "${POSTGRES_PORT}:5432"  # Прокидываем порт базы данных
    volumes:
      - pgdata:/var/lib/postgresql/data/pgdata
    command: >
      postgres -c max_connections=1000
               -c shared_buffers=256MB
               -c effective_cache_size=768MB
               -c maintenance_work_mem=64MB
               -c checkpoint_completion_target=0.7
               -c wal_buffers=16MB
               -c default_statistics_target=100
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_NAME}"]
      interval: 30s
      retries: 5
    restart: unless-stopped
    tty: true
    stdin_open: true
    networks:
      - my_network

networks:
  my_network:
    driver: bridge

volumes:
  pgdata:
    driver: local
