definitions:
  user.CreateUserRequest:
    properties:
      email:
        type: string
      name:
        type: string
      password:
        type: string
    required:
    - email
    - name
    - password
    type: object
  user.LoginUser:
    properties:
      email:
        type: string
      password:
        type: string
    type: object
  user.Response:
    properties:
      email:
        type: string
      name:
        type: string
    type: object
info:
  contact: {}
paths:
  /:
    get:
      description: Это описание эндпоинта
      responses:
        "200":
          description: Техническая информация
          schema:
            type: string
      summary: Тестовый эндпоинт
      tags:
      - пример23
  /events/:
    get:
      description: Получить мероприятия
      responses:
        "200":
          description: event
          schema:
            type: string
      tags:
      - events
  /events/{event_id}:
    get:
      description: Получить мероприятие по ID
      parameters:
      - description: ID мероприятия
        in: path
        name: event_id
        required: true
        type: integer
      responses:
        "200":
          description: event
          schema:
            type: string
      tags:
      - events
  /users:
    post:
      consumes:
      - application/json
      description: Creates a new user with the provided information.
      parameters:
      - description: User Data
        in: body
        name: user
        required: true
        schema:
          $ref: '#/definitions/user.CreateUserRequest'
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/user.Response'
        "400":
          description: Invalid request body
          schema:
            additionalProperties:
              type: string
            type: object
        "500":
          description: Internal server error
          schema:
            additionalProperties:
              type: string
            type: object
      summary: Create a new user
      tags:
      - Users
  /users/{id}:
    delete:
      description: Deletes a user by their ID.
      parameters:
      - description: User ID
        in: path
        name: id
        required: true
        type: integer
      responses:
        "204":
          description: User deleted successfully
        "404":
          description: User not found
          schema:
            additionalProperties:
              type: string
            type: object
        "500":
          description: Internal server error
          schema:
            additionalProperties:
              type: string
            type: object
      summary: Delete user by ID
      tags:
      - Users
    get:
      consumes:
      - application/json
      description: Retrieves information about a user by their ID.
      parameters:
      - description: User ID
        in: path
        name: id
        required: true
        type: integer
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/user.Response'
        "404":
          description: User not found
          schema:
            additionalProperties:
              type: string
            type: object
        "500":
          description: Internal server error
          schema:
            additionalProperties:
              type: string
            type: object
      summary: Get user by ID
      tags:
      - Users
  /users/login:
    post:
      consumes:
      - application/json
      description: Проверяет учетные данные пользователя и возвращает информацию о
        нем.
      parameters:
      - description: Данные для авторизации
        in: body
        name: request
        required: true
        schema:
          $ref: '#/definitions/user.LoginUser'
      produces:
      - application/json
      responses:
        "200":
          description: Успешная авторизация
          schema:
            $ref: '#/definitions/user.LoginUser'
      summary: Авторизация пользователя
      tags:
      - Users
swagger: "2.0"
